.footer {
    background-color: var(--color-notification);
    padding: 20px 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.logo-container {
    margin-bottom: 20px;
}

.about-section,
.contact-section {
    flex: 1;
    margin: 0 10px;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--color-light-background);
    word-spacing: -8px;
}

p {
    margin-bottom: 5px;
    line-height: 1.5;
    font-weight: bold;
    color: var(--color-light-background);
    font-size: 14px;
}

@media (max-width: 767px) {
    .footer-content {
      flex-direction: column; /* Change to column layout on smaller screens */
    }
  
    .about-section,
    .contact-section {
      margin: 10px 0;
    }
  
    h3 {
      font-size: 16px; /* Example: Adjust the font size for smaller screens */
    }
  
    p {
      font-size: 12px; /* Example: Adjust the font size for smaller screens */
    }
  }