.info-card {
    width: 50%;
    max-width: 500px;
    padding: 40px;
    border-radius: 20px;
    background: linear-gradient(to bottom, var(--color-notification), var(--color-interactive));
    min-height: 350px;
}

.info-card-title {
    margin: 0 0 16px 0;
    font-size: 28px;
    color: var(--color-light-background);
    font-weight: bold;
    line-height: 1.3;
}

.info-card-content {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: 0.4px;
    word-spacing: 1px;
    color: white;
}

@media (max-width: 767px) {
    .info-card {
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
    }
  
    .info-card-title {
      font-size: 24px; /* Example: Adjust the font size for smaller screens */
    }
  
    .info-card-content {
      font-size: 14px; /* Example: Adjust the font size for smaller screens */
    }
  }